<h1>Movies</h1>

<%= bootstrap_form_for @movie do |f| %>
  <%= f.text_field :name, label: "Title" %>

  <%= f.text_area :creator, label: "Director" %>

  <%= f.text_area :description, label: "Description" %>

  <%= f.submit %>

<% end %>
